__pycache__/
google_sheets/

# firebase stuff
firebase-debug.log
.firebaserc
.firebase

# Generated stuff
races/
leaderboard.txt
public/index.html
public/racelist.html
public/resources.html
public/rasyncs.html
public/weights.html