.reveal-button {
    color: #8c898c;
    border: solid;
    border-width: .1rem;
    font-size: .75rem;
    background-color: #151515;
    
    /* Make the button text non-selectable */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.reveal-button:hover {
    cursor: pointer;
    border-style: dashed;
}

/* Some classes to help with animation */
.hidden { display: none; }
.block { display: block; }